@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  font-weight: 700;
  font-style: normal;
  font-family: 'Nunito', serif;
  font-size: 1em;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: auto;
  box-sizing: border-box;
}
/* Create Grid System */
.site {
  display: grid;
  grid-template-columns:
    [pad-left-start] minmax(0px, 10%) [pad-left-end] minmax(375px, 80%)
    [pad-right-start] minmax(0px, 10%) [pad-right-end];
  grid-template-rows: [title-start] 10rem [main-content] auto [page-bottom];
  background: linear-gradient(
    180deg,
    rgba(147, 97, 255, 0.7) 0%,
    rgba(119, 34, 0, 0.7) 100%
  );
  height: 100%;
  width: 100%;
}

#title {
  grid-column: pad-left-start / pad-right-end;
  grid-row: title-start / main-content;
  display: flex;
  align-content: center;
  justify-content: center;
}

#title h1 {
  margin: auto;
  font-size: 3em;
  color: white;
}

#main-content {
  grid-column: pad-left-end / pad-right-start;
  grid-row: main-content / page-bottom;
  padding: 10px 7px 10px 7px;
  overflow: hidden;
}

/*** 
*  Login Page 
***/
.login-form {
  display: flex;
  flex-direction: column;
}

/* Set a style for the button*/
#login-button {
  background-color: #5fb59b;
  color: white;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  align-self: center;
  font-size: 2em;
}

/* Set a disabled effect for the button*/
button:disabled {
  opacity: 0.5;
}

/***  
* Style input fields with icons
***/
input {
  position: relative;
  border: none;
  width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  box-sizing: border-box;
}

.email,
.password,
.search {
  position: relative;
}

.email i,
.password i,
.search i {
  position: absolute;
  left: 15px;
  top: 40px;
  color: gray;
}

.search i {
  top: 20px;
}

/***  
* To Do Items
***/
/* Size and layout each item */
#to-do-list {
  overflow: scroll;
}
.item {
  flex-shrink: 1;
  display: flex;
  height: 150px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #ffb8cc 0%, hsl(343, 67%, 35%) 100%);
  overflow: hidden;
  border-radius: 50px;
  padding: 10px;
  margin: 0.5em 0;
}
/* Items list display */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Text display */
.text {
  overflow: hidden;
  /* background: linear-gradient(
    270deg,
    hsl(259, 100%, 69%) 10%,
    hsl(343, 67%, 35%) 100%
  );
   */
  border-radius: 75px;
  margin: 10px;
  display: inherit;
  flex: 3;
}

.text p {
  margin: auto 30px;
  font-size: 1.3em;
  padding: 1em 0;
  color: white;
}

.btns {
  flex: 0 0 50px;
  margin: 10px 20px;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  background-color: transparent;
}

.btns-create {
  flex: 0 0 50px;
  margin: 10px 20px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  background-color: transparent;
}
.btns-create button {
  background-color: #5fb59b;
}

.item .btn,
.opt-2 {
  flex: 0 0 50px;
  border-radius: 50%;
  border: none;
  color: white;
}

.delete {
  background: #861a39;
}
.edit {
  background: #9361ff;
}

.options {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.option {
  flex: 5;
  margin: auto 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.opt-2 {
  flex: 0 0 50px;
  border-radius: 50%;
  height: 50px;
  background-color: #5fb59b;
}

@media screen {
}
